<%= form_with(model: team, local: true, html: {autocomplete: 'off'}) do |form| %>
  <% if team.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Wanna know which group you are in? Let’s fill in a bit of your information first</p>

  <div class="form-group">
    <%= form.label(:first_name, 'First name') %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label(:last_name, 'Last name') %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label(:employee_id, 'Employee ID') %>
    <%= form.text_field :employee_id, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary', style: 'width:100%' %>
  <span style="color:#f00;">** You can submit the form only once **</span>
<% end %>
