<h3>Groups</h3>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link <%= 'active' unless params['group'] %>" href="<%= teams_path %>">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '1' %>" href="<%= teams_path(group: 1) %>">1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '2' %>" href="<%= teams_path(group: 2) %>">2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '3' %>" href="<%= teams_path(group: 3) %>">3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '4' %>" href="<%= teams_path(group: 4) %>">4</a>
  </li>
</ul>
<br />

<table class="table-striped" width="100%">
  <thead>
    <th>Name</th>
    <% unless params['group'] %>
      <th width="10%">Group</th>
    <% end %>
  </thead>
  <% @teams.each do |team| %>
    <tr>
      <td><%= "#{team.first_name} #{team.last_name}" %></td>
      <% unless params['group'] %>
        <td style="text-align: center"><%= team.color %></td>
      <% end %>
    </tr>
  <% end %>
</table>
