<h3>กลุ่ม</h3>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link <%= 'active' unless params['group'] %>" href="<%= teams_path %>">ทั้งหมด</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '1' %>" href="<%= teams_path(group: 1) %>">1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '2' %>" href="<%= teams_path(group: 2) %>">2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '3' %>" href="<%= teams_path(group: 3) %>">3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params['group'] == '4' %>" href="<%= teams_path(group: 4) %>">4</a>
  </li>
</ul>
<br />
<ol>
  <% @teams.each do |team| %>
    <li><%= "#{team.first_name} #{team.last_name}" %></li>
  <% end %>
</ol>
