<!DOCTYPE html>
<html>
  <head>
    <title>มาเล่นกันเถอะ ๆ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(window).on('load', function(){
        liff.init(function (data) {});
      });
    </script>
  </head>

  <body>
    <header class="navbar navbar-light">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', height: 20 %>
      </a>
      <span class="navbar-text" style="color:#462279">
        #SCBDigital
      </span>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted" style="font-size:.7rem">Powered by SCB Connect</span>
      </div>
    </footer>
  </body>
</html>
